* {
  margin: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  
}



nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: end;
  background-color: rgba(0,0,0, 0.6);
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
  padding-bottom: 6px;
  
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: end;
  gap: 20px;
}

.nav-text {
  color: #fff;
}

.hero {
  background-image: url(./images/herobg.jpg);
  height: 100vh;
  /* width: 100%; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  /* object-fit: contain; */
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8% 0 0 0;
}

.hero-text {
  font-family: "Abril Fatface", sans-serif;
  font-size: 30px;
  font-weight: 10px;
  color: #ffffff;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100vw; */
  /* background-color: rgba(0, 0, 0, 0.5);#7F7F7F */
  
}

.hero-button {
  border-radius: 3px;
  background-color: #00325B;

}
.about {
  width: 100%;
  padding: 4rem;
  background-color: #B2B2B2;
}

.about-cont {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-image {
  display: flex;
  justify-content: center;
}

.about-image img {
  height: 400px;
  object-fit: contain;
  border-radius: 20px;
}
.about-description {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

}

.about-head {
  font-size: 40px;
  font-weight: 300;
  align-items: center;

}

.about-paragraph {
  font-size: 20px;
  /* line-height: 1; */
}

.button-container {
  padding: 10px;
  gap: 30px;
 display: flex;
 flex-direction: row;
 /* justify-content: space-around; */
 align-items: center;
}


.about-button {
  justify-content: space-around;
  line-height: 2rem;
  padding: 5px;
  background-color: #728096;
  border-radius: 3px;
  gap: 10px;
  overflow: hidden;
  /* display: flex;
  flex-direction: row; */
  justify-content: center;

}
  
  














.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	 animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  /* width: 100%; */
  align-items: flex-start;
  /* padding: 30px 30px; */
  background-color: #728096;
  padding-top: 10px;
  /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(44% 1%, 100% 0%, 100% 100%, 36% 99%, 0% 50%); */
}

.skill-head {
  /* padding-top: 30px;
  padding-bottom: 20px; */
  font-size: 40px;
  font-weight: 700;
  align-items: center;
}


.container.skills-cont {
  margin-top: 4rem;
}
.skills-text {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.skills-text h4 {
  font-weight: 20px;
  /* display: flex;
  flex-direction: column; */
}

.skill {
  margin-bottom: 50px;
}

.progress-bar-container {
  width: 100%;
  border: 1px solid rgb(246, 246, 248);
  /* padding: 2px; */
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
}

.progress-bar {
  width: 85%;
  background-color: rgb(96, 96, 99);
  height: 5px;
  border: 1px solid rgb(96, 96, 99);
  border-radius: 30px;
}
.progress1 {
  width: 80%;
  background-color: rgb(96, 96, 99);
  height: 5px;
  border: 1px solid rgb(96, 96, 99);
  border-radius: 30px;
}
.progress2 {

  width: 60%;
  background-color: rgb(96, 96, 99);
  height: 5px;
  border: 1px solid rgb(96, 96, 99);
  border-radius: 30px;
}

.name-figure {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.section {
  padding: 7rem 0;
}

.inner-sect {
  border-radius: 20px;
  background: rgba(150, 148, 148, 0.3);
  text-align: center;
  line-height: 27px;
  padding: 20px;
}

.inner-sect i {
  line-height: 48px;
}

.inner-sect h4 {
  line-height: 30px;
}

.inner-sect p {
  line-height: 27.6px;
}

.skills-cont {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.service-head {
  text-align: center;
  /* font-family: "Josefin Sans", sans-serif; */
  font-size: 50px;
  font-weight: 700;
  /* line-height: 28.8px; */
  padding-bottom: 5px;
  /* margin-bottom: 5px; */
}

.inner-sect:hover {
  border-color: black;
  color: #728096
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  /* flex-wrap: wrap; */
  /* margin-right: 15px;
  margin-left: 15px;  */
  /* unicode-bidi: isolate; */
  /* padding: 10%; */
}

.services div {
  width: 50%;
}

/* .services-border {
  border: 1px solid black;
  gap: 10px; */

.headings h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15.36px;
  font-weight: 400px;
  line-height: 27.4px;
  color: #000;
}

.paragraph p {
  font-family: "Roboto Mono";
  font-size: 15.36px;
  font-weight: 400px;
  line-height: 27.4px;
  color: #000;
}

.spikes {
  position: relative;
  background: #B2B2B2;
  height:50vh;
  overflow: hidden;
}


footer{
  padding-top:4rem;
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -0%;
  top: 0%;
  z-index: 10;
  display: block;
  height: 45px;
  background-size: 45px 100%;
  background-image: linear-gradient(135deg, #fffcfc 25%, transparent 25%),
    linear-gradient(225deg, #fefeff 25%, transparent 25%);
}

.socials {
  margin: 4rem 0;
  margin-bottom:2rem;
  display: flex;
  justify-content: center;
  gap: 30px;
  /* width: 20%;
  margin:auto;
  margin-top: 40px;
  align-items: center; */
}

.socials i{
  font-size: 2rem;
  overflow-y: hidden;
}

.contact-details {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  

}

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
