* {
  margin: 0;
  /* text-decoration: none; */
  border: none;
  box-sizing: border-box;
}

header {
  padding-top: 4rem;
}

body {
  overflow: hidden;
  background-color: #ffffff;
  /* height: 100vh; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* padding-top: 2rem; */
  row-gap: 2rem;
}

#container {
  overflow: auto;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 30px;
  height: 80vh;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.hero {
  height: 50vh;
  padding: 70px;
}

.hero h3 {
  font-family: EB Garamond serif;
  font-size: 45.22px;
  line-height: normal;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: green;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
